@model Dominio_FroFood.ViewModels.RestauranteView

@{
    ViewData["Title"] = "InfoRestaurante";
}

<h1 style="text-align:center">@Model.Nome</h1>

    <div class="card-group">
        @foreach (var r in Model.Cardapio)
        {

            <div class="card" style="background-color:#FBF3A7">
                <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">@r.Nome</h5>
                    <p class="card-text">@r.Descricao</p>
                    <span style="background-color:#9C5CFC" class="badge badge-primary badge-pill">(@r.Valor)</span>
                </div>
            </div>

        }
    </div>
