@model IList<RestauranteView>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="container carousel-inner no-padding">
        @{ string cl = "carousel-item active";}
        <p>@Model.Count()</p>
        @for (var i = 0; i < Model.Count() / 4; i++)
        {

            <div class="@cl">
                @for (var x = 4 * i; x < (4 * i) + 4; x++)
                {
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://cdn.onlinewebfonts.com/svg/img_412721.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@Model[x].Nome</h5>
                                <p class="card-text">@Model[x].Avaliacao</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
            cl = "carousel-item";
        }
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<style>
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }

        .col-md-3 img {
            width: 100%;
            height: auto;
        }

    body .carousel-indicators li {
        background-color: red;
    }

    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        background-color: red;
    }

    body .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
</style>