@model Dominio_FroFood.Models.Pedido

@{
    ViewData["Title"] = "InfoRestaurante";
}

<h1 style="text-align:center">Nome do Restaurante</h1>

    <h2>Categoria</h2>
    <div class="card-group">
        <div class="card" style="background-color:#FBF3A7">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Nome do Item</h5>
                <p class="card-text">Breve descrição do prduto disponivel</p>
                <span style="background-color:#9C5CFC" class="badge badge-primary badge-pill">(valor)</span>
            </div>
        </div>
        <div class="card" style="background-color:#FBF3A7">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Nome do Item</h5>
                <p class="card-text">Breve descrição do prduto disponivel</p>
                <span style="background-color:#9C5CFC" class="badge badge-primary badge-pill">(valor)</span>
            </div>
        </div>
        <div class="card" style="background-color:#FBF3A7">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Nome do Item</h5>
                <p class="card-text">Breve descrição do prduto disponivel</p>
                <span style="background-color:#9C5CFC" class="badge badge-primary badge-pill">(valor)</span>
            </div>
        </div>
    </div>