@model IEnumerable<Dominio_FroFood.ViewModels.ItemView>

@{
    ViewData["Title"] = "ResultadoBusca";
}

<h2 style="text-align:center" class="pb-5">ResultadoBusca</h2>

<div class="container">
    <div class="justify-content-center row justify-content-md-around">

        @foreach (var r in Model)
        {
            <div class="card col-md-4 col-sm-1 m-1 card-personal">
                <img class="card-img-top" src="https://localhost:44396/galeria/@(r.NomeImagem)" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">@r.Nome</h5>
                    <p class="card-text">@r.Descricao</p>
                    <span class="card-text">R$: @r.Valor</span>
                    @Html.ActionLink("Comprar", "Pedido", new { id = r.Id })
                </div>
            </div>
        }

    </div>
</div>

<style>
    .card-personal {
        border-color: darkred;
        max-width: 350px;
    }
</style>

